body {
  display: flex;
}

#search-result-list>div {
  display: block;
}

#search-result-list>div>div {
  display: block;
}

#search-result-list>div>div>div {
  display: inline;
}

#search-result-hit-num {
  font-weight: bold;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 12px;
  background: #c6acf7fa;
  border-radius: 3px;
  /* -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); */
}

#year_range_text {
  position: absolute;
  left: 100px;
  top: 300px;
}

#year_range {
  position: absolute;
  left: 100px;
  top: 320px;
}

#num_node_text {
  position: absolute;
  left: 100px;
  top: 350px;
}

#num_node {
  position: absolute;
  left: 100px;
  top: 370px;
}

/* ローディング画面 */

.loader-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fffaf0;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #0080ff;
  background: -moz-linear-gradient(left, #0080ff 10%, rgba(0, 128, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #0080ff 10%, rgba(0, 128, 255, 0) 42%);
  background: -o-linear-gradient(left, #0080ff 10%, rgba(0, 128, 255, 0) 42%);
  background: -ms-linear-gradient(left, #0080ff 10%, rgba(0, 128, 255, 0) 42%);
  background: linear-gradient(to right, #0080ff 10%, rgba(0, 128, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #0080ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #fffaf0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 検索結果バー */

#jenre-anime {
  border-left: medium solid #9bc4ec;
}

#jenre-game {
  border-left: medium solid #55aaff;
}

#jenre-foreign-movie {
  border-left: medium solid #f479f8;
}

#jenre-comic {
  border-left: medium solid #f1d37f;
}

#jenre-japanese-movie {
  border-left: medium solid #f5b9f5;
}

#jenre-special-photographing-and-puppet-show {
  border-left: medium solid #fc5151;
}

#jenre-dorama {
  border-left: medium solid #79b873;
}

#jenre-others {
  border-left: medium solid #a5a3b169;
}

#recommended-works {
  border-left: medium solid #a5a3b169;
}

.menu {
  height: 1000px;
  overflow: scroll;
}

.work-text {
  position: absolute;
  top: 50px;
  left: 100px;
  border: medium solid #a5a3b169;
}

.work {
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}

.work:hover {
  font-family: "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background-color: #eeeeee;
  cursor: pointer;
}

.work:active {
  background-color: #c9f3f7;
}

#actor-introduction {
  border-left: 1px solid #bbbbbb;
  background-color: #f3f3f3;
}

#actor-intro-name {
  font-size: 50px;
  padding-bottom: 20px;
  color: purple;
}

.intro-element {
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

.intro-element-keys {
  font-weight: bold;
  padding-bottom: 10px;
}

.intro-element-values {
  font-weight: normal;
}